.btn-return {
  border: none;
  background: none;
  color: #ecaf2a;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  margin: 12px 10px;

  span {
    margin: 0 6px;
    position: relative;
    top: 3px;
    vertical-align: top;
  }
}

.icon_return {
  font-size: 26px;
}
