.item-wrapper {
  display: inline-block;
  position: relative;
  height: 163px;
  width: 290px;
  margin: auto;  /* Magic! */
  margin-bottom: 20px;

  &:hover {
    .item__play {
      cursor: pointer;
      background: rgba(34,34,34,.5);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 9999;
      transition: all 0.2s ease-in-out;
    }

    .item__play_icon {
      color: rgba(255, 255, 255, 0.5);
      font-size: 5em;
      left: 35%;
      top: 20%;
      position: absolute;
    }
  }
}

.item-wrapper img {
  width: 100%;
}

.item__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(bottom, #000, transparent);
}

.item__title_p {
  color: #f2f2f2;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin-left: 10px;
  word-wrap: break-word;
}
