.item__tooltip {
  background: #232323;
  display: block;
  position: relative;
  top: -20px;
  left: 0;
  z-index: 9999;
  width: 330px;
}

.item__tooltip__Header {
  color: #FFF;
}

.item__tooltip__Header span {
  font-size: 14px;
  padding: 0 10px;
}

.item__tooltip_title {
  color: #FFF;
  font-family: arial, sans-serif;
  font-size: 1.17em;
  font-weight: 300;
  margin: 1em 0;
  padding: 10px;
}

.item__tooltip a {
  text-decoration-color: #fff;
}

.item__tooltip__Info {
  background: #FFF;
  padding: 10px;
}

.item__tooltip_rating {
  margin: 10px;
  background: 0 0;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  color: #F2F2F2!important;
  display: inline-block;
  padding: 1px 5px;
  font-size: 10.5px;
  font-weight: 700;
}

.item__tooltip__Footer {
  padding: 10px;
  position: relative;
  min-height: 58px;
}

.item__tooltip button {
  color: #FFF;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.item__tooltip__Footer .tooltip_details {
  border: 1px solid #fff;
  font-size: 14px;
  margin: 10px;
  width: auto;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  right: 0;
}
