.form__container {
  margin: 20px auto;
  max-width: 400px;
}

.input__search {
  color: #eee;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  width: 100%;
}
